* {
font-family: kaikoku PM;
}

.headword-list-details,
.gloss-sc-span,
[title="high priority entry"],
[title^="Jitendex"],
.frequency-group-item,
button[title^="Add reading"] {
display: none;
}

.tag[data-category="dictionary"] {
  --tag-color:  #d56199;
  --tag-text-color: #FFF5EE;
}

#content-scroll {
    scrollbar-width: none; /* Firefox */
}
